html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:antiquewhite;
}


.icon {
    width: 35px;
    height: 35px;
    background-color: #ccc;
    animation-play-state: paused;
    border-radius: 8px;
}

@keyframes shake {
    20% {
        transform: rotate(15deg);
    }

    80% {
        transform: rotate(-20deg);
        transform: scale(1.2);
    }
}

.icon:hover {
    transform: scale(1.2);
    animation: shake 0.4s ease;
    animation-play-state: running;
    animation-delay: 0.1s;
}
